export HDWALLET_MNEMONIC="front ski wolf horse woman mushroom frown fold vacuum alert total sugar"
export INFURA_PROVIDER_URL=https://rinkeby.infura.io/v3/1d6cb6d8f137423ab26111c61c0760ef
export ADMIN_ADDRESS=0x51f595ef681c3b3b6b6949fbbb36b7d98daa15bf
